<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<style>
	.rocketbox{
	  display: inline-block;
	  min-height: 50px;
	  min-width: 300px;
	  border: 1px solid grey;
	  text-align: center;
	  padding: 12px;
	  margin:10px;
	}
	
	.rocketboxSelected{
	  border: 2px solid green;
	}
</style>
<div class="am-popup" id="rocket-popup">
<div class="am-popup-inner">
   <div class="am-popup-hd">
     <span data-am-modal-close class="am-close">&times;</span>
   </div>
   <div class="am-popup-bd">
   <form class="am-form am-form-horizontal">
		<fieldset>
		  <legend>超级置顶</legend>
		  <div class="am-form-group" style="text-align:center">
		  	#foreach($item in $!rocketSet) 
		  		<div class="rocketbox #if($velocityCount ==1) rocketboxSelected #end" 
		  		data1="$item.value"
		  		cashMsg="$!item.cashMsg"
		  		coinsMsg="$!item.coinsMsg">$item.text</div>
		  	#end
		  </div>
		  <div class="am-form-group">
		    <button type="button" class="am-btn am-btn-primary am-fl buy" id="rocketBtn"
		    	_type="2" 
		    	_data1="1" 
		    	_reUrl="/index.htm" 
		    	_msg="确定购买超级置顶吗?">&nbsp;&nbsp;金币购买&nbsp;&nbsp;</button>
		    	
		    <a href="#" id="rocketLnk" class="am-fr pay" 
		    	_type="2" 
		    	_data1="1" 
		    	_cash="0" 
		    	_reUrl="/index.htm"
		    	_msg="确定购买超级置顶吗?">&nbsp;&nbsp;微信支付&nbsp;&nbsp;</a>
		  </div>
		</fieldset>
	</form>
   </div>
</div>
</div>
<script>
	function showRocket(){
		jQuery("#rocket-popup").modal();
	}
	
	jQuery(function(){
		jQuery(".rocketbox").click(function(){
			jQuery(".rocketbox").removeClass("rocketboxSelected");
			jQuery(this).addClass("rocketboxSelected");
			var data1 = jQuery(this).attr("data1");
			var coinsMsg = jQuery(this).attr("coinsMsg");
			var cashMsg = jQuery(this).attr("cashMsg");
			
			jQuery("#rocketBtn").attr("data1",data1);
			jQuery("#rocketBtn").attr("_msg",coinsMsg);
			
			jQuery("#rocketLnk").attr("data1",data1);
			jQuery("#rocketLnk").attr("_msg",cashMsg);
		});
	});
</script>