<link rel="stylesheet" href="http://wetuan-prod.oss-cn-hangzhou.aliyuncs.com/source/css/iconfont.css">
<div class="footer_top"> 
  <div id="goHome">
       <a href="${contextRoot}/index.htm">
          <i class="icon iconfont">&#xe60c;</i>
       </a>
  </div>
</div>