<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<style>
	.memberbox{
	  display: inline-block;
	  min-height: 50px;
	  min-width: 80px;
	  border: 1px solid grey;
	  text-align: center;
	  padding: 12px;
	  margin:10px;
	}
	
	.memberboxSelected{
	  border: 2px solid green;
	}
</style>
<div class="am-popup" id="member-popup">
<div class="am-popup-inner">
   <div class="am-popup-hd">
     <span data-am-modal-close class="am-close">&times;</span>
   </div>
   <div class="am-popup-bd">
   <form class="am-form am-form-horizontal">
		<fieldset>
		  <legend>会员包月</legend>
		  <div class="am-form-group" style="text-align:center">
		    <div class="memberbox memberboxSelected" data1="1">1个月 价格:200金币或20元</div>
		    <div class="memberbox" data1="2">2个月 价格:400金币或40元</div>
		    <div class="memberbox" data1="6">6个月 价格:600金币或60元</div>
		  </div>
		  <div class="am-form-group">
		    <button type="button" class="am-btn am-btn-primary am-fl buy" id="memberBtn"
		    	type="1" data1="1" reUrl="/my.htm">&nbsp;&nbsp;金币购买&nbsp;&nbsp;</button>
		    <a href="#" id="memberLnk" class="am-fr pay" 
		    	type="1" data1="1" cash="0" reUrl="/my.htm">&nbsp;&nbsp;微信支付&nbsp;&nbsp;</a>
		  </div>
		</fieldset>
	</form>
   </div>
</div>
</div>
<script>
	function showMembership(){
		jQuery("#member-popup").modal();
	}
	
	jQuery(function(){
		jQuery(".memberbox").click(function(){
			jQuery(".memberbox").removeClass("memberboxSelected");
			jQuery(this).addClass("memberboxSelected");
			var data1 = jQuery(this).attr("data1");
			jQuery("#memberBtn").attr("data1",data1);
			jQuery("#memberLnk").attr("data1",data1);
		});
	});
</script>