<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<div class="am-modal" tabindex="-1" id="qrcodeModal">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">
    	加载中...
    </div>
    <div class="am-modal-bd">
      <i class='am-icon-spinner am-icon-spin'></i>正在加载中
    </div>
  </div>
</div>
<script>
	function qrcodeShow(nickname, imgurl){
		jQuery("#qrcodeModal .am-modal-hd").empty().append(nickname+"的二维码");
		jQuery("#qrcodeModal .am-modal-bd").empty().append("<img src='"+imgurl+"'></img>");
		var $modal = jQuery('#qrcodeModal');
		$modal.modal();
	}
</script>