<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<div class="am-popup" id="search-popup">
<div class="am-popup-inner">
   <div class="am-popup-hd">
     <span data-am-modal-close class="am-close">&times;</span>
   </div>
   <div class="am-popup-bd">
   <form action="/index.htm" method="post" class="am-form am-form-horizontal" id="searchForm">
		$csrfToken.hiddenField
		<input type="hidden" name="action" value="userAction"/>
		<input type="hidden" name="event_submit_do_query" value="true"/>
		<fieldset>
		  <legend>高级搜索</legend>
		  <div class="am-form-group">
		    <select id="q_province" name="$!userGroup.province.key" style="width:112px; float:left;"></select>
          	<select id="q_city" name="$!userGroup.city.key" style="width:112px; float:left; margin-left:10px;"></select>
          	<select id="q_twon" style="display:none;"></select>
		  </div>
		  <div class="am-form-group am-form-icon">
		    <select id="q_gender" name="$!userGroup.gender.key" style="width:112px; float:left;">
		    	<option #if($!query.gender == "")selected#end value="">性别</option>
		    	<option #if($!query.gender == "0")selected#end value="0">男</option>
		    	<option #if($!query.gender == "1")selected#end value="1">女</option>
		    </select>
		  </div>
		  <div class="am-form-group am-form-icon">
		    <input type="text" id="q_desc" placeholder="关键字,从描述和姓名中搜索" 
		    	name="$!userGroup.description.key"
		    	class="am-form-field" 
		    	value="$!{query.description}"/>
		  </div>
		  <div class="am-form-group">
		    <button type="submit" class="am-btn am-btn-primary am-fl">&nbsp;&nbsp;确定&nbsp;&nbsp;</button>
		    <button type="button" id="btnReset" class="am-btn am-btn-primary am-fr">&nbsp;&nbsp;重置&nbsp;&nbsp;</button>
		  </div>
		</fieldset>
	</form>
   </div>
</div>
</div>

<script>
	jQuery(function(){
		showLocation('q_province','q_city','q_twon','$!{query.province}','$!{query.city}','');
		
		jQuery("#btnReset").click(function(){
			jQuery("#q_province").val('');
			jQuery("#q_city").val('');
			jQuery("#q_gender").val('');
			jQuery("#q_desc").val('');
			jQuery("#searchForm").submit();
		});
	});

	function showSearch(){
		jQuery("#search-popup").modal();
	}
</script>