<!DOCTYPE html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
	</head>
<style>
	body{
		margin:5px;
		padding:0px;
		font-size: 12px;
	}
	
	img{
		width:100%;
	}
	
	h3{
		margin:10px;
	}
	
	p{
		margin:10px;
		margin-bottom:25px;
		line-height:25px;
	}
	
	table{
		width:95%;
		border-collapse: collapse; 
		margin:0 auto;
	}
	
	tr{
		margin:0px;
		padding:0px;
	}
	
	td{
		text-align:center;
		padding:5px;
		border:1px solid black;
	}
	
	s{
		text-decoration: none;
		color:red;
	}
</style>
<body>
<h3>躺着加粉新手上门攻略</h3>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;躺着加粉是一款专为懒人准备的加粉神器，轻松轻松点击百万人脉在手，无需注册，关注公众号即可使用。<p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用户可以通过扫描二维码添加关注，也可以自助上传个人二维码或者群二维码，让人脉主动找上你，体验爆粉中的战斗机，拓展自己的人脉圈。<p>
<h3>功能介绍</h3>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新注册会员赠送<s>$!{coins}</s>金币和<s>${vip}</s>天免费会员试用.<p>
<table>
	<tr>
		<td width="30%">功能/服务</td>
		<td width="35%">普通会员</td>
		<td width="35%">金粉会员</td>
	</tr>
	<tr>
		<td>加友/加群</td>
		<td colspan="2">√</td>
	</tr>
	<tr>
		<td>发布二维码</td>
		<td colspan="2">√</td>
	</tr>
	<tr>
		<td>推广获金币</td>
		<td colspan="2">√</td>
	</tr>
	<tr>
		<td>搜索删选</td>
		<td colspan="2">全国</td>
	</tr>
	<tr>
		<td>刷新置顶</td>
		<td>×</td>
		<td><s>${refresh}</s>分钟置顶一次</td>
	</tr>
	<tr>
		<td>超级置顶</td>
		<td>×</td>
		<td>√</td>
	</tr>
</table>
<p>&nbsp;</p>

<h3>添加好友</h3>
<img src="images/help/0.jpg" />
<p>新关注的用户可主动添加首页列表右边的“加粉”按钮，并扫描二维码，添加为好友！</p>

<h3>底部菜单</h3>
<img src="images/help/10.jpg" />
<p><s>置顶:</s>刷新置顶功能按钮,后面的数字就是冷却倒计时.当0的时候就可以刷新置顶.
<br><s>VIP:</s>会员功能都在这里
<br><s>个人:</s>编辑个人资料和二维码
<br><s>刷新:</s>刷新当前列表</p>

<h3>VIP会员特权</h3>
<img src="images/help/4.jpg" />
<p>购买金币,买得越多折扣越多.联系客服充值, 记得要把<s>红包和个人ID发送过去哦</s></p>

<h3>超级置顶</h3>
<img src="images/help/6.jpg" />
<p>超级置顶助您一直呆在第一个位置, 占据有利地形, 开通后立即生效, 在超级置顶时间内继续购买. 将在本次结束时间后累加购买的时候.
比如小A购买了超级置顶10分钟, 在第7分钟的时候又买了5分钟. 那么超级置顶的结束时间是15分钟</p>
<hr>
<p>快来关注我们吧</p>
<img src="images/wetuan.jpg" />
</body>
</html>