<!DOCTYPE html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="/css/new_pro.css" />
		<link rel="stylesheet" href="/css/basic.css" />
		<link rel="stylesheet" href="/css/layer.css" />
		<link rel="stylesheet" href="/css/index.css" />
		<title>躺着加粉</title>
</head>
#set ($userGroup = $form.user.defaultInstance)
<body>
	<div>
		<div class="item_list">
			<div class="item_box">
				
				<div class="left head_portrait_70">
					<a href="${contextRoot}/myShare.htm?id=$!user.id">
					<img src="$!user.headImg">
					</a>
					<br>
					<span class="click_count">$!user.clickCount</span>
				</div>
				<div class="right btn-infor">
					<h3><a href="${contextRoot}/my.htm"><button>完善个人资料</button></a></h3>
					<h3><a href="${contextRoot}/vip.htm?open=rocketDetail#service2"><button style="margin-top:25px;">开启固定置顶</button></a></h3>
				</div>
				<div class="left ft_describe">
					<h3>
						<span>$!user.nickName</span>
						&nbsp;
						<span class="city_area location" 
							  province="$!user.province" 
							  city="$!user.city"
							  extCity="$!user.extCity"></span> 
					</h3>
					<h3><span>ID: $!user.id</span>
						&nbsp;
    					<span>金币: <label id="coins">$!user.coins</label></span></h3>
					<h3>二维码: <font color="#if($!user.qrcode) #E6257D #else grey #end">个人</font>&nbsp;
						<font color="#if($!user.groupQrcode) #E6257D #else grey #end">群</font>&nbsp;
						<font color="#if($user.isVip()) #E6257D #else grey #end">#if($user.isVip())已#else未#end激活</font>
					</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="today_task">
		<span id="taskMsg1">
	#if($!todayTask)
		<a href="${contextRoot}/vip.htm#task1">$!todayTask</a>
	#else
		<a href="${contextRoot}/vip.htm#task1">今日任务已经全部完成</a>
	#end
		<a href="http://mp.weixin.qq.com/s?__biz=MzIzOTE2MzQyNQ==&mid=402379059&idx=1&sn=f104591f94ca2e59dd055e3149e03339#rd" style="float:right">帮助</a>
		</span>
	#if(!$!user.skvId)
		<span id="taskMsg2" style="display:none">
			<a href="${contextRoot}/bind.htm">绑定微团账号获取更多权益</a>
			<a href="http://mp.weixin.qq.com/s?__biz=MzIzOTE2MzQyNQ==&mid=402379059&idx=1&sn=f104591f94ca2e59dd055e3149e03339#rd" style="float:right">帮助</a>
		</span>
	#end
	</div>
	<div id="popup" style="top: 350px;">加好友+1</div>
	<div class="change_tab">
		<div class="filter_heard">
			<ul class="filter-inner-cont">
				<li #if($!searchType == '0')class="filter-cur"#end>
					<a href="${contextRoot}/index.htm?searchType=0">个人二维码</a>
				</li>
				<li #if($!searchType == '1')class="filter-cur"#end>
					<a href="${contextRoot}/index.htm?searchType=1">微信群二维码</a>
				</li>
				<li #if($!searchType == '2')class="filter-cur"#end>
					<a href="${contextRoot}/index.htm?searchType=2">关注我的</a>
				</li>
				<li class=""><a href="#">高级筛选</a></li>
			</ul>
		</div>

		<div class="tab_cont  ">
			<div class="cont1" id="cont1">
				<div>
					#if($!searchType == '0')
					<ul class="block_fr">
						#foreach($each in $topList)
						<li class="item_list">
							<div class="item_box">
								<div class="left head_portrait">
									<img src="/images/vip.png" class="vip">
									<img src="$!each.headImg" style="position: relative; left: -28px;">
									<br>
									<span class="click_count">$!each.clickCount</span>
								</div>
								<div class="right btn-infor">
									<div class="icon"
										 user_popup_nickname="$!each.nickName"
										 user_popup_headimg="$!each.headImg"
										 user_popup_description="$!each.description"
										 user_popup_code="$!each.qrcode" 
										 user_popup_id="$!each.id">
										<div class="plus"></div>
									</div>
									<div class="add_fri"
										 user_popup_nickname="$!each.nickName"
										 user_popup_headimg="$!each.headImg"
										 user_popup_description="$!each.description"
										 user_popup_code="$!each.qrcode"
										 user_popup_id="$!each.id">添加好友</div>
								</div>
								<div class="left ft_describe" style="position:relative;left:-28px;">
									<h3>
										<span class="city_area location" 
											  province="$!each.province" 
											  city="$!each.city"
											  extCity="$!each.extCity"></span> &nbsp;$!each.nickName
									</h3>
									<p>$!each.description</p>
									<p><span class="vipCountDown">$!each.vipCountDown</span>&nbsp;秒后置顶结束</p>
								</div>
							</div>
						</li>
						#end
						#foreach($each in $list)
						<li class="item_list">
							<div class="item_box">
								<div class="left head_portrait">
									<img src="$!each.headImg">
									<br>
									<span class="click_count">$!each.clickCount</span>
								</div>
								<div class="right btn-infor">
									<div class="icon"
										 user_popup_nickname="$!each.nickName"
										 user_popup_headimg="$!each.headImg"
										 user_popup_description="$!each.description"
										 user_popup_code="$!each.qrcode" 
										 user_popup_id="$!each.id">
										<div class="plus"></div>
									</div>
									<div class="add_fri" 
										 user_popup_nickname="$!each.nickName"
										 user_popup_headimg="$!each.headImg"
										 user_popup_description="$!each.description"
										 user_popup_code="$!each.qrcode"
										 user_popup_id="$!each.id">添加好友</div>
								</div>
								<div class="left ft_describe">
									<h3>
										<span class="city_area location" 
											  province="$!each.province" 
											  city="$!each.city"
											  extCity="$!each.extCity"></span> &nbsp;$!each.nickName
									</h3>
									<p>$!each.description</p>
								</div>
							</div>
						</li>
						#end
					</ul>
					<ul id="more" page="2">
						
					</ul>
					#end
				</div>
				<div class="blank4"></div>
			</div>
			<div class="cont1" id="cont2">
				<div>
					#if($!searchType == '1')
					<ul class="block_tw">
						#foreach($each in $topList)
						<li class="item_list">
							<div class="item_box">
								<div class="left head_portrait">
									<img src="/images/vip.png" class="vip"/>
									<img src="$!each.headImg" style="position: relative; left: -28px;">
									<br>
									<span class="click_count">$!each.clickCount</span>
								</div>
								<div class="right btn-infor">
									<div class="icon"
										 user_popup_nickname="$!each.nickName"
										 user_popup_headimg="$!each.headImg"
										 user_popup_description="$!each.groupDescription"
										 user_popup_code="$!each.groupQrcode" 
										 user_popup_id="$!each.id">
										<div class="plus"></div>
									</div>
									<div class="add_fri" 
										 user_popup_nickname="$!each.nickName"
										 user_popup_headimg="$!each.headImg"
										 user_popup_description="$!each.groupDescription"
										 user_popup_code="$!each.groupQrcode"
										 user_popup_id="$!each.id">添加群聊</div>
								</div>
								<div class="left ft_describe" style="position:relative;left:-28px;">
									<h3>
										<span class="city_area location" 
											  province="$!each.province" 
											  city="$!each.city"
											  extCity="$!each.extCity"></span> &nbsp;$!each.nickName
									</h3>
									<p>$!each.description</p>
									<p><span class="vipCountDown">$!each.vipCountDown</span>&nbsp;秒后置顶结束</p>
								</div>
							</div>
						</li>
						#end
						#foreach($each in $list)
						<li class="item_list">
							<div class="item_box">
								<div class="left head_portrait">
									<img src="$!each.headImg">
									<br>
									<span class="click_count">$!each.clickCount</span>
								</div>
								<div class="right btn-infor">
									<div class="icon"
										 user_popup_nickname="$!each.nickName"
										 user_popup_headimg="$!each.headImg"
										 user_popup_description="$!each.groupDescription"
										 user_popup_code="$!each.groupQrcode" 
										 user_popup_id="$!each.id">
										<div class="plus"></div>
									</div>
									<div class="add_fri"
										 user_popup_nickname="$!each.nickName"
										 user_popup_headimg="$!each.headImg"
										 user_popup_description="$!each.groupDescription"
										 user_popup_code="$!each.groupQrcode"
										 user_popup_id="$!each.id">添加群聊</div>
								</div>
								<div class="left ft_describe">
									<h3>
										<span class="city_area location" 
											  province="$!each.province" 
											  city="$!each.city"
											  extCity="$!each.extCity"></span> &nbsp;$!each.nickName
									</h3>
									<p>$!each.description</p>
								</div>
							</div>
						</li>
						#end
					</ul>
					<ul id="more" page="2">
						
					</ul>
					#end
				</div>
			</div>
			<div class="cont1" id="cont3">
				<div>
					#if($!searchType == '2')
					<ul class="block_fr">
						<div class="today_task">
							以下是从您分享二维码扫码加入的用户<a href="${contextRoot}/myShare.htm?id=$!user.id" style="float:right">去分享</a>
						</div>
						#foreach($each in $list)
						<li class="item_list">
							<div class="item_box">
								<div class="left head_portrait">
									<img src="$!each.headImg">
									<br>
									<span class="click_count">$!each.clickCount</span>
								</div>
								<div class="right btn-infor">
									<div class="icon"
										 user_popup_nickname="$!each.nickName"
										 user_popup_headimg="$!each.headImg"
										 user_popup_description="$!each.description"
										 user_popup_code="$!each.qrcode" 
										 user_popup_id="$!each.id">
										<div class="plus"></div>
									</div>
									<div class="add_fri" 
										 user_popup_nickname="$!each.nickName"
										 user_popup_headimg="$!each.headImg"
										 user_popup_description="$!each.description"
										 user_popup_code="$!each.qrcode"
										 user_popup_id="$!each.id">添加好友</div>
								</div>
								<div class="left ft_describe">
									<h3>
										<span class="city_area location" 
											  province="$!each.province" 
											  city="$!each.city"
											  extCity="$!each.extCity"></span> &nbsp;$!each.nickName
									</h3>
									<p>$!each.description</p>
								</div>
							</div>
						</li>
						#end
					</ul>
					<ul id="more" page="2">
						
					</ul>
					#end
				</div>
				<div class="blank4"></div>
			</div>
			<div class="cont1">
				<div class="folder_cont">
					<form action="${contextRoot}/index.htm" method="post" class="form-inline" id="searchForm">
						$csrfToken.hiddenField
						<input type="hidden" name="action" value="userAction"/>
						<input type="hidden" name="event_submit_do_query" value="true"/>
						<div class="form-group">
							<label for="exampleInputName2">地区筛选</label>
							<div class="dropdown verticals">
								<div class="dropdown">
									<select id="q_province" name="$!userGroup.province.key" class="dropdown-select">
									</select>
								</div>
							</div>
							&nbsp;&nbsp;
							<div class="dropdown verticals">
								<div class="dropdown">
									<select id="q_city" name="$!userGroup.city.key" class="dropdown-select"></select>
          							<select id="q_twon" style="display:none;"></select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>指定性别</label>
							<div class="dropdown verticals">
								<select name="$!userGroup.gender.key" class="dropdown-select " id="q_gender">
									<option #if($!query.gender == "")selected#end value="">性别</option>
							    	<option #if($!query.gender == "0")selected#end value="0">男</option>
							    	<option #if($!query.gender == "1")selected#end value="1">女</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail2">关键词筛选</label> <input type="text"
								class="form-control" name="$!userGroup.description.key" id="q_desc"
								placeholder="从名称和描述中筛选" value="$!{query.description}">
						</div>
						<div class="center">
							<button type="submit" class="btn btn-pink">&nbsp;&nbsp;确&nbsp;&nbsp;定&nbsp;&nbsp;</button>
							&nbsp;&nbsp;
							<button type="button" id="btnReset" class="btn btn-restore">&nbsp;&nbsp;重&nbsp;&nbsp;置&nbsp;&nbsp;</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- top -->
	<div class="footer_top">
		<div class="scroll" id="scroll">
			<a href="javascript:void(0)"> <font id="top_don" class="iconfont">&#xe60f;</font>
			</a>
		</div>
	</div>
	<!-- top -->
	<!-- nav -->
	<footer class="footer_nav">
		<ul>
			<li><a href="javascript:void(0)" id="zt_top"> 
				<font class="iconfont">&#xe613;</font>
				<div style="color:white">本页置顶<span id="countDown" style="color:white"></span></div>
			</a></li>

			<li><a href="${contextRoot}/vip.htm"> 
				<font class="iconfont">&#xe608;</font>
				<div style="color:white">爆粉服务</div>
			</a></li>

			<li><a href="${contextRoot}/my.htm"> 
				<font class="iconfont">&#xe615;</font>
				<div style="color:white">个人资料</div>
			</a></li>

			<li><a href="${contextRoot}/index.htm"> 
				<font class="iconfont">&#xe614;</font>
				<div style="color:white">刷新本页</div>
			</a></li>
		</ul>
	</footer>
	<!-- nav end -->

	<!-- user_inofr -->
	<div class="foorer_infor" style="display: none;">
		<div class="tc_page" style="padding: 30px 20px 0px 20px;">
			<div class="item_padded">
				<div class="item_box">
					<div class="left head_portrait">
						<img id="user_popup_headimg" src="">
					</div>

					<div class="left ft_describe">
						<h2 id="user_popup_nickname"></h2>
						<input type="hidden" id="user_popup_id" value=""/>
						<p id="user_popup_description" style="max-width:300px"></p>
					</div>
				</div>

			</div>
			<div class="clear"></div>
			<div class="code_area center">
				<img id="user_popup_code" src="" style="max-width: 224px; min-width:224px;"/>
			</div>
			<p class="ft_code">扫一扫上面的二维码图案，或者长按识别二维码，加我微信</p>

			<a class="button colse" onclick="layer.closeAll();">×</a>

		</div>
	</div>
    <form action="${contextRoot}/index.htm" method="post" class="am-form am-form-horizontal" id="refreshForm">
      	$csrfToken.hiddenField
		<input type="hidden" name="action" value="userAction"/>
		<input type="hidden" name="event_submit_do_refresh" value="true"/>
		<input type="hidden" name="$!userGroup.id.key" value="$!user.id"/>
    </form>
	<!-- user_inofr  -->

	<script type="text/javascript" src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
	<script type="text/javascript" src="/js/layer.m.js"></script>
	<script type="text/javascript" src="/js/Location/location.js"></script>
	<script>
	function currentDate(){
		var d = new Date(),str = '';
		 str += d.getFullYear()+'-';
		 str += getTimeStr(d.getMonth() + 1)+'-';
		 str += getTimeStr(d.getDate());
		return str;
	}
	
	function currentTime(){
		var d = new Date(),str = '';
		 str += d.getFullYear()+'-';
		 str += getTimeStr(d.getMonth() + 1)+'-';
		 str += getTimeStr(d.getDate())+' ';
		 str += getTimeStr(d.getHours())+':'; 
		 str += getTimeStr(d.getMinutes())+':'; 
		 str += getTimeStr(d.getSeconds()); 
		return str;
	}
	
	function getTimestamp(){
		var d = new Date(),str = '';
		 str += d.getFullYear();
		 str += getTimeStr(d.getMonth() + 1);
		 str += getTimeStr(d.getDate());
		 str += getTimeStr(d.getHours()); 
		 str += getTimeStr(d.getMinutes()); 
		 str += getTimeStr(d.getSeconds()); 
		return str;
	}

	function getTimeStr(t){
		if(t < 10){
			return "0"+t;
		} else {
			return t;
		}
	}
	
	var countDown = $!nextRefresh;
	var ctime = 0;
	var storage = window.localStorage;
	
	#if($!searchType == '0')
   		$("#cont1").show();
   	#end
   	#if($!searchType == '1')
   		$("#cont2").show();	
   	#end
   	#if($!searchType == '2')
   		$("#cont3").show();	
   	#end
	
	function showPopup(msg){
		$("#popup").empty().append(msg);
		$("#popup").show();
		$("#popup").animate({top:"0px"},3000,function(){
			$("#popup").hide();
			$("#popup").animate({top:"350px"});
		});
	}
	
	var timer = setInterval("countDownTask()",1000);
	
	function countDownTask(){
		$("#countDown").empty().append("("+countDown+")");
		countDown--;
		if(countDown == -1) {
			countDown = 0;
			clearInterval(timer);
		} 
	}
	
	#if(!$!user.skvId)
	setInterval(function(){
		if($("#taskMsg1").is(':hidden')){
			$("#taskMsg1").show();
			$("#taskMsg2").hide();
		} else {
			$("#taskMsg2").show();
			$("#taskMsg1").hide();
		}
		
	},5000);
	#end
	
	function loadMore(){
		var timestamp = getTimestamp();
 	    var para = "?timestamp="+timestamp;
 	    var page = $("#more").attr("page");
 	    para += "&page=" + page;
		jQuery.ajax({
 			type: "get",
 			url:'api/userService.json'+ para,
 			success:function(data, textStatus){
 				if(data.success){
 					var list = data.dataObject;
 					if(list.length==0){
 						return;
 					}
 					for(var i=0;i<list.length;i++){
 						var headImg = list[i].headImg;
 						var provinceCode = list[i].province;
 						var cityCode = list[i].city;
 						var extCity = list[i].extCity;
 						
 						var location = new Location();
 						var provinceName = "";
 						var cityName = "";
 						
 	            		if(provinceCode == null || provinceCode == ""){
 	            			provinceName = "";
 	            		} else {
 	            			provinceName = location.findProvince(provinceCode);
 	            			if(cityCode == null || cityCode == ""){
 	            				cityName = "";
 	 	            		} else {
 	 	            			var cityName = location.findCity(provinceCode,cityCode);
 	 	            		}
 	            		}
 						
 	            		var id = list[i].id;
 						var nickName = list[i].nickName;
 						var description = list[i].description;
 						var qrcode = list[i].qrcode;
 						var groupQrcode = list[i].groupQrcode;
 						var clickCount = list[i].clickCount;
 						
 						var msg = "<li class='item_list'>";
 						   msg += "	<div class='item_box'>";
 						   msg += "		<div class='left head_portrait'>";
 						  msg += "			<img src='"+headImg+"'/><br>";
						   msg += "			<span class='click_count'>"+clickCount+"</span>";
 						   msg += "		</div>";
 						   msg += "	    <div class='right btn-infor'>";
 						   msg += "			<div class='icon'";
 						   msg += "			 	user_popup_nickname='"+nickName+"'";
 						   msg += "			 	user_popup_headimg='"+headImg+"'";
 						   msg += "			 	user_popup_description='"+description+"'";
 						   msg += "			 	user_popup_id='"+id+"'";
 					    #if($!searchType == '1')
 					       msg += "			 	user_popup_code='"+groupQrcode+"'><div class='plus'></div></div>";
 						#else
 						   msg += "			 	user_popup_code='"+qrcode+"'><div class='plus'></div></div>";
 						#end
 						   msg += "			<div class='add_fri'";
 						   msg += "			 	user_popup_nickname='"+nickName+"'";
 						   msg += "			 	user_popup_headimg='"+headImg+"'";
 						   msg += "			 	user_popup_description='"+description+"'";
 						   msg += "			 	user_popup_id='"+id+"'";
 					    #if($!searchType == '1')
 					       msg += "			 	user_popup_code='"+groupQrcode+"'>添加群聊</div>";
 						#else
 						   msg += "			 	user_popup_code='"+qrcode+"'>添加好友</div>";
 						#end
 						   msg += "		</div>";
 						   msg += "	    <div class='left ft_describe'>";
 						   msg += "			 <h3>";
 						   if(extCity != null && extCity != ""){
 							  msg += "			 	<span class='city_area location'>["+extCity+"]</span> &nbsp;"+nickName;
 						   } else {
 							  msg += "			 	<span class='city_area location'>["+provinceName+cityName+"]</span> &nbsp;"+nickName; 
 						   }
 						   msg += "			 </h3>";
 						   msg += "			 <p>"+description+"</p>";
 						   msg += "	    </div>";
 						   msg += " </div>";
 						   msg += "</li>";
 						$("#more").append(msg);
 						bindAdd();
 					}
 					page++;
 					$("#more").attr("page",page);
 				}
 			}
 		});
	}
	
	function addFriend(){
		var timestamp=Math.round(new Date() / 1000);
		if(ctime && timestamp - ctime >= 5){
			userClick();
			var friendCount = 0;
			if(storage.getItem('addfans_num')){
				friendCount = parseInt(storage.getItem('addfans_num'));
				friendCount++;
				storage.setItem('addfans_num',friendCount);
			}else{
				storage.setItem('addfans_num',1);
				friendCount = 1;
			}
			if(friendCount == 5){
				$.ajax({
					  url:'api/friendSuccess.json',
					  type: 'POST',
					  dataType: "json",
					  success: function(res){
						  if(res.success){
							  showPopup(res.message);
							  $("#coins").empty().append(res.dataObject);
						  }
					  }
				});
			}
			if(friendCount > 5){
				storage.setItem('addfans_num',1);
			}
		}
	}
	
	function userClick(){
		var id = $("#user_popup_id").val();
		$.ajax({
			  url:'api/userClick.json?id='+id,
			  type: 'POST',
			  dataType: "json"
		});
	}
	
	function bindAdd(){
		$(".icon,.add_fri").unbind("click");
		$(".icon,.add_fri").click(function(){
			
			ctime = Math.round(new Date() / 1000);
			
			var user_popup_id = $(this).attr("user_popup_id");
			var user_popup_nickname = $(this).attr("user_popup_nickname");
			var user_popup_description = $(this).attr("user_popup_description");
			var user_popup_headimg = $(this).attr("user_popup_headimg");
			var user_popup_code = $(this).attr("user_popup_code");
			
			$("#user_popup_id").val(user_popup_id);
			$("#user_popup_nickname").empty().append(user_popup_nickname);
			$("#user_popup_description").empty().append(user_popup_description);
			$("#user_popup_headimg").attr("src",user_popup_headimg);
			$("#user_popup_code").attr("src",user_popup_code);
			
    		var html_r =$(".foorer_infor").html();
			var pageii = layer.open({
    			type: 1,
    			content: html_r,
    			anim: true,
    			style: 'position:fixed; left:0; top:0; width:100%; height:100%;background: rgba(255,255,255,0.1); border:none;',
    			end:function(){
    				addFriend();
    			}
			});
		});	
	}
	
	function showAlert(msg, linkMsg, href){
		layer.open({
		    title: [
		        '提示',
		        'background-color:#F6F6F6; color:#191919;font-weight:bold;'
		    ],
		    content: '<div class="ft_detail">'+
					 	'<p>'+msg+'</p>'+
					 	'<a href=\''+href+'\'>'+
					 	'<button style=\'float: right;margin: 10px 0px 10px 0px;padding: 10px;border: 1px solid white;background: #E5247C;color: white;\'>'+linkMsg+'</button>'+
					 	'</a>'+
					 '</div>'
		});
	}   
	
   $(function(){
	   bindAdd();
	   
	   $(".location").each(function(){
			var provinceCode = jQuery(this).attr("province");
			var cityCode = jQuery(this).attr("city");
			var extCity = jQuery(this).attr("extCity");
			
			var location = new Location();
			var provinceName = "";
			var cityName = "";
				
     		if(provinceCode == null || provinceCode == ""){
     			provinceName = "";
     		} else {
     			provinceName = location.findProvince(provinceCode);
     			if(cityCode == null || cityCode == ""){
     				cityName = "";
          		} else {
          			var cityName = location.findCity(provinceCode,cityCode);
          		}
     		}
     		
     		if(extCity != null && extCity != ""){
				jQuery(this).empty().append("["+extCity+"]");
			} else {
				jQuery(this).empty().append("["+provinceName+cityName+"]");
			}
		});
	   
	    showLocation('q_province','q_city','q_twon','$!{query.province}','$!{query.city}','');
	    
	    $("#btnReset").click(function(){
			jQuery("#s_province").val('');
			jQuery("#s_city").val('');
			jQuery("#q_gender").val('');
			jQuery("#q_desc").val('');
			jQuery("#searchForm").submit();
		});
	   	
		$(window).scroll( function() { 
			var scrollValue=$(window).scrollTop();
			scrollValue > 100 ? $('div[class=scroll]').fadeIn():$('div[class=scroll]').fadeOut();
			if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
				loadMore();
	        }
		});	
		
		$('#scroll').click(function(){
			$("html,body").animate({scrollTop:0},200);	
		});	

		$(".tc_page").css({ width: $("body").width()-65+"px"});
		//按钮使用说明
		$("#zt_top").click(function(){
			$.ajax({
				  url:'api/checkTop.json?',
				  type: 'POST',
				  dataType: 'json',
				  success:function(data){
					  if(data.success){
						  $("#refreshForm").submit();
					  } else {
						  showAlert(data.message,data.title,data.link);
					  }
				  }
			});
		});
		
		setInterval(function(){
			$(".vipCountDown").each(function(){
				var vipCountDown = parseInt($(this).text());
				vipCountDown--;
				if(vipCountDown == -1) {
					vipCountDown = 0;
				} 
				$(this).empty().append(vipCountDown);
			});
		},1000);
		
		$(".filter-inner-cont li").click(function(){
	 	   	var _index =$(this).index();
	 	   	//alert(_index);
	 	   	$(this).addClass("filter-cur").siblings().removeClass("filter-cur");
	 	   	$(".tab_cont .cont1").eq(_index).show().siblings().hide();
	   	});
	});
</script>
$control.setTemplate("cnzz.vm")
</body>
</html>