<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
#foreach($each in $list)
<div class="am-g doc-am-g" style="padding:5px;">
	<div style="border:0px;float:left;">
		<img src="$!each.headImg" class='am-img-thumbnail' style="width:70px;height:70px;"/>
	</div>
	<div style="padding-left:5px; float:left;">
		<div style="color:#if($user.isZhuangB())red #else black #end">$!each.nickName</div>
		<div style="size:smaller">$!each.description</div>
	</div>
	<div style="float:right">
		#if($!searchType == '0')
		<button type="button" class="am-btn am-btn-success am-btn-sm" style="margin-top:5px;" onclick="qrcodeShow('$!each.nickName','$!each.qrcode')">加好友</button>
		#else
		<button type="button" class="am-btn am-btn-danger am-btn-sm" style="margin-top:5px;" onclick="qrcodeShow('$!each.nickName','$!each.groupQrcode')">加群聊</button>
		#end
		<br>
		<font color="grey" class="location" province="$!{each.province}" city="$!{each.city}"></font>
	</div>
</div>
#end
<div id="more" page="2">
</div>
<div id="loading-more" style="text-align: center;">
	<i class='am-icon-spinner am-icon-spin'></i>正在加载中...
</div>
<script type="text/javascript">
	jQuery(function(){
		jQuery(".location").each(function(){
			var provinceCode = jQuery(this).attr("province");
			var cityCode = jQuery(this).attr("city");
			
			var location = new Location();
    		var provinceName = location.findProvince(provinceCode);
    		var cityName = location.findCity(provinceCode,cityCode);
			
			jQuery(this).empty().append("["+provinceName+" "+cityName+"]");
		});
		
		$(window).scroll(function() {
	        if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
	        	var timestamp = currentTime();
		 	    var para = "?timestamp="+timestamp;
		 	    para += "&page=" + $("#more").attr("page");
				jQuery.ajax({
		 			type: "get",
		 			url: '/api/userService.json'+ para,
		 			success:function(data, textStatus){
		 				if(data.success){
		 					var list = data.dataObject;
		 					if(list.length==0){
		 						$("#loading-more").empty().append("<font color='grey'>没有更多了</font>");
		 						return;
		 					}
		 					for(var i=0;i<list.length;i++){
		 						var headImg = list[i].headImg;
		 						var provinceCode = list[i].province;
		 						var cityCode = list[i].city;
		 						
		 						var location = new Location();
		 			    		var provinceName = location.findProvince(provinceCode);
		 			    		var cityName = location.findCity(provinceCode,cityCode);
		 						
		 						var nickName = list[i].nickName;
		 						var description = list[i].description;
		 						var qrcode = list[i].qrcode;
		 						var groupQrcode = list[i].groupQrcode;
		 						
		 						var msg = "<div class='am-g doc-am-g' style='padding:5px;'>";
		 						msg += "<div style='border:0px;float:left;'>";
		 						msg += "<img src='"+headImg+"' class='am-img-thumbnail' style='width:70px;height:70px;'/>";
		 						msg += "</div>";
		 						msg += "<div style='padding-left:5px; float:left;'>";
		 						msg += "<p>";
		 						msg += nickName;
		 						msg += "<br>";
		 						msg += description;
		 						msg += "</p>";
		 						msg += "</div>";
		 						msg += "<div style='border:0px;float:right'>";
		 						#if($!searchType == '0')
		 						msg += "<button type='button' class='am-btn am-btn-success am-btn-sm' style='margin-top:5px;' onclick='qrcodeShow(\""+nickName+"\",\""+qrcode+"\")'>加好友</button>";
		 						#else
		 						msg += "<button type='button' class='am-btn am-btn-danger am-btn-sm' style='margin-top:5px;' onclick='qrcodeShow(\""+nickName+"\",\""+groupQrcode+"\")'>加群聊</button>";	
		 						#end
		 						msg += "<br>";
		 						msg += "<font color='grey'>["+provinceName+" "+cityName+"]</font>";
		 						msg += "</div>";
		 						msg += "</div>";
		 						$("#more").append(msg);
		 					}
		 					page++;
		 					$("#more").attr("page",page);
		 				}
		 			}
		 		});
	        }
	    });
	});
</script>