<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
#foreach($each in $list)
<div class="am-g doc-am-g" style="padding:5px;">
	<div class="am-u-sm-2">
		<img src="$!each.headImg" class="am-img-thumbnail am-circle"/>
	</div>
	<div class="am-u-sm-7" style="padding-left:5px">
		<p>
			<font color="grey" class="location" province="$!{each.province}" city="$!{each.city}"></font> $!each.nickName
			<br>
			$!each.description
		</p>
	</div>
	<div class="am-u-sm-3">
		<button type="button" class="am-btn am-btn-success am-btn-sm" style="margin-top:5px;" onclick="qrcodeShow('$!each.nickName','$!each.qrcode')">加为好友</button>
	</div>
</div>
#end
<script type="text/javascript">
	jQuery(function(){
		jQuery(".location").each(function(){
			var provinceCode = jQuery(this).attr("province");
			var cityCode = jQuery(this).attr("city");
			
			var location = new Location();
    		var provinceName = location.findProvince(provinceCode);
    		var cityName = location.findCity(provinceCode,cityCode);
			
			jQuery(this).empty().append("["+provinceName+" "+cityName+"]");
		});
	});
</script>