<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
#set ($userGroup = $form.user.defaultInstance)
<form id='form_headImg_uploader' method='post' enctype='multipart/form-data' class="am-form am-form-horizontal">
	<fieldset>
		<legend>个人头像<a href="/index.htm" style="float:right;">返回</a></legend>
		<img src="$!{user.headImg}" class="am-img-thumbnail" id="headImgShow" style="width:75px;height:75px;float:left;">
		<div style="float:left;padding-left:10px;width:70%">
			<div style="clear:both">
				金币<span class="am-badge am-badge-warning am-round" style="margin-left:10px;">$!user.coins</span>
				<span style="float:right">充值</span>
			</div>
			<div style="clear:both">
				会员<span class="am-badge #if($!user.isVip()) am-badge-success #else am-badge-danger #end am-round" style="margin-left:10px;">$dateTools.DateToStringSimple($!user.gmtVipExpire)</span>
				<span style="float:right">续期</span>
			</div>
		</div>
		<div class="am-form-group am-form-file" style="clear:both">
			<button type="button" class="am-btn am-btn-danger am-btn-sm" id="headImgBtn">
				<i class="am-icon-cloud-upload"></i> 上传
			</button>
			<input type="file" class="imgUploader" name="Filedata"
			show="headImgShow" text="headImgText" form="form_headImg_uploader" multiple="multiple"/>
	  	</div>
  	</fieldset>
</form>
<form action="/my.htm" method="post" class="am-form am-form-horizontal" id="myForm">
	$csrfToken.hiddenField
	<input type="hidden" name="$!userGroup.id.key" value="$!{user.id}"/>
	<input type="hidden" name="$!userGroup.headImg.key" value="$!{user.headImg}" id="headImgText"/>
	<input type="hidden" name="$!userGroup.qrcode.key" value="$!{user.qrcode}" id="qrcodeText"/>
	<input type="hidden" name="$!userGroup.groupQrcode.key" value="$!{user.groupQrcode}" id="groupQrcodeText"/>
	<input type="hidden" name="action" value="userAction"/>
	<input type="hidden" name="event_submit_do_update" value="true"/>
	<fieldset>
	  <legend>个人信息<a href="/index.htm" style="float:right;">返回</a></legend>
	  <div class="am-form-group">
	    <input type="text" placeholder="昵称" 
	    	name="$!userGroup.nickName.key"
	    	class="am-form-field" style="width:200px; float:left;"
	    	value="$!{user.nickName}"/>
	    <select name="$!userGroup.gender.key" style="width:112px; float:left; margin-left:10px;">
	    	<option #if($!user.gender == "")selected#end value="">性别</option>
	    	<option #if($!user.gender == "0")selected#end value="0">男</option>
	    	<option #if($!user.gender == "1")selected#end value="1">女</option>
	    </select>
	  </div>
	  <div class="am-form-group">
	    	<select id="q_province" name="$!userGroup.province.key" style="width:200px; float:left;"></select>
         	<select id="q_city" name="$!userGroup.city.key" style="width:112px; float:left; margin-left:10px;"></select>
         	<select id="q_twon" style="display:none;"></select>
	  </div>
	  <div class="am-form-group">
	  	<label>联系电话</label>
	    <input type="text" placeholder="联系电话" 
	    	name="$!userGroup.phone.key"
	    	class="am-form-field" 
	    	value="$!{user.phone}"/>
	  </div>
	  <div class="am-form-group">
	  	<label>微信ID</label>
	    <input type="text" placeholder="微信ID" 
	    	name="$!userGroup.weixinId.key"
	    	class="am-form-field" 
	    	value="$!{user.weixinId}"/>
	  </div>
	  <div class="am-form-group">
	  	<label>个人签名</label>
	    <input type="text" placeholder="个人签名,描述信息" 
	    	name="$!userGroup.description.key"
	    	class="am-form-field" 
	    	value="$!{user.description}"/>
	  </div>
	</fieldset>
</form>
<form id='form_qrcode_uploader' method='post' enctype='multipart/form-data' class='form-horizontal'>
	<fieldset>
		<legend>个人二维码<font color="grey" size="3" style="margin-left:20px">空着的话,就无法被搜索到哦</font></legend>
		<img src="$!{user.qrcode}" class="am-img-thumbnail" id="qrcodeShow" style='max-width:200px;max-height:200px;'>
		<div class="am-form-group am-form-file">
			<button type="button" class="am-btn am-btn-danger am-btn-sm" id="qrcodeBtn">
				<i class="am-icon-cloud-upload"></i> 上传
			</button>
			<input type="file" class="imgUploader" name="Filedata"
			show="qrcodeShow" text="qrcodeText" form="form_qrcode_uploader" multiple="multiple"/>
	  	</div>
  	</fieldset>
</form>
<form id='form_groupQrcode_uploader' method='post' enctype='multipart/form-data' class='form-horizontal'>
	<fieldset>
		<legend>群聊二维码<font color="grey" size="3" style="margin-left:20px">空着的话,就无法被搜索到哦</font></legend>
		<img src="$!{user.groupQrcode}" class="am-img-thumbnail" id="groupQrcodeShow" style='max-width:200px;max-height:200px;'>
		<div class="am-form-group am-form-file">
			<button type="button" class="am-btn am-btn-danger am-btn-sm" id="groupQrcodeBtn">
				<i class="am-icon-cloud-upload"></i> 上传
			</button>
			<input type="file" class="imgUploader" name="Filedata"
			show="groupQrcodeShow" text="groupQrcodeText" form="form_groupQrcode_uploader" multiple="multiple"/>
	  	</div>
  	</fieldset>
</form>
<form class="am-form am-form-horizontal">
	<fieldset>
	  <div class="am-form-group">
	    <button type="button" id="submitBtn" class="am-btn am-btn-primary am-fl">&nbsp;&nbsp;更新&nbsp;&nbsp;</button>
	    <a href="/index.htm" class="am-fr">&nbsp;&nbsp;取消&nbsp;&nbsp;</a>
	  </div>
	</fieldset>
</form>
<script>
	jQuery(function(){
		showLocation('q_province','q_city','q_twon','$!{user.province}','$!{user.city}','');
		
		$('#submitBtn').click(function(){
			$('#myForm').submit();
		});
		
		$('.imgUploader').on('change', function() {
			var form = jQuery(this).attr("form");
			var show = jQuery(this).attr("show");
			var text = jQuery(this).attr("text");
			$.ajax({
				  url: '/api/fileService.json',
				  type: 'POST',
				  data: new FormData($('#'+form)[0]),
				  async: false,
				  cache: false,
				  contentType: false,
				  processData: false,
				  success: function(data){
					  if(data.success){
						jQuery("#"+show).attr("src", data.dataObject);
						jQuery("#"+text).val(data.dataObject);
					  }else{
						alert(data.message);
					  }
				  },
				  dataType: "json"
			});
	    });
	});
</script>