<!DOCTYPE html>
<html>
<head>
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<title>躺着加粉</title>
</head>
<body>
<style>
	div{
		text-align: center;
		color:white;
		line-height:200%;
	}
	
	body{
		margin:0px;
		padding: 0px;
		font-family: "Microsoft YaHei" ! important;
	}
	
	.to{
	 	width:100px;
	 	height:100px;
	 }
</style>
<div style="background:#A31A23;">
	<div style="background:#A31A23;">
		<img style="width:100%" src="/images/head.jpg">
	</div>
	<div style="background:#A31A23;">
		<div>
			<table style="width:90%;margin:0px auto;">
				<tr>
					<td>
						<img class="to" src="$!{user.headImg}" style="border:5px solid white">
					</td>
					<td>
						<div>我是#if($!isWeiTuan)微团#end$!{user.nickName}</div>
						<div>我为躺着加粉代言, 免费无门槛</div>
						<div>就可以日加粉300+!</div>
					</td>
				<tr>
			</table>
			<br>
		</div>
		#if(!$isWeixin)
		<div>
			复制下面链接,在微信中分享到朋友圈吧. <br>加入到爆粉行列中来吧, 完全免费的微商平台!
		</div>	
		<div>
			${requestUrl}
		</div>
		#end
		<div>
			<img src="${shareBgImg}" width="50%" style="border:5px solid white">
		</div>
		<div>
			$!{expire}
		</div>
	</div>
	<div style="background: white;">
		<img style="width:100%" src="/images/foot.jpg">
	</div>
</div>
<script type="text/javascript" src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  // 注意：所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。 
  // 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
  // 完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
wx.config({
  appId: '$jsApiConfig.appId',
  timestamp: '$jsApiConfig.timestamp',
  nonceStr: '$jsApiConfig.nonceStr',
  signature: '$jsApiConfig.sign',
  jsApiList: [
	'onMenuShareTimeline',
	'onMenuShareAppMessage',
	'onMenuShareQQ',
	'onMenuShareWeibo'
  ]
});
  
wx.ready(function () {
    // 在这里调用 API
    wx.onMenuShareTimeline({
        title: '$!shareTitle', // 分享标题
        imgUrl: '$!shareImg', // 分享图标
        success: function () { 
        	shareSuccess();
        }
    });
     
    wx.onMenuShareAppMessage({
        title: '$!shareTitle', // 分享标题
        desc: '$!shareTitle', // 分享描述
        imgUrl: '$!shareImg', // 分享图标
        success: function () { 
        	shareSuccess();
        }
    });
     
    wx.onMenuShareQQ({
        title: '$!shareTitle', // 分享标题
        desc: '$!shareTitle', // 分享描述
        imgUrl: '$!shareImg', // 分享图标
        success: function () { 
        	shareSuccess();
        }
    });
 
    wx.onMenuShareWeibo({
        title: '$!shareTitle', // 分享标题
        desc: '$!shareTitle', // 分享描述
        imgUrl: '$!shareImg', // 分享图标
        success: function () { 
        	shareSuccess();
        }
    });
});

function shareSuccess(){
	$.ajax({
		  url:'${contextRoot}/api/shareSuccess.json',
		  type: 'POST',
		  dataType: "json",
		  success: function(res){
			  if(!res.success){
				  alert(res.message);
				  return;
			  } else {
				  alert(res.dataObject);
				  window.location.href="${contextRoot}/index.htm";
				  return;
			  }
		  }
	});
}
</script>
$control.setTemplate("cnzz.vm")
</body>
</html>