<!DOCTYPE html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" href="http://cdn.amazeui.org//amazeui/2.5.0/css/amazeui.min.css">
        <link rel="stylesheet" href="http://s.amazeui.org/assets/2.x/css/amaze.min.css?v=ihlsylsc">
        <script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
		<script src="http://cdn.amazeui.org//amazeui/2.5.0/js/amazeui.min.js"></script>
		<script type="text/javascript" src="/js/Location/location.js"></script>
		<script type="text/javascript" src="/js/pay/weixinpay.js"></script>
		<script type="text/javascript" src="/js/pay/coinspay.js"></script>
        <title>贵圈真乱</title>
    </head>
    <body>
  	<div class="am-tabs" id="doc-my-tabs">
	  <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
	    <li #if($!searchType == '0')class="am-active"#end><a href="/index.htm?searchType=0">个人二维码</a></li>
	    <li #if($!searchType == '1')class="am-active"#end><a href="/index.htm?searchType=1">群二维码</a></li>
	  </ul>
	</div>
	$screen_placeholder
	<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default" id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-4">
          <li >
          	<a href="#" onclick="showSearch()">
               搜索
      	  	</a>
          </li>
          <li>
	        <a href="/my.htm">
	           个人
	        </a>
          </li>
          <li>
          	<a href="#" id="refreshBtn">
          	   置顶<font color="white" id="countDown"></font>
          	</a>
          	#set ($userGroup = $form.user.defaultInstance)
          	<form action="/index.htm" method="post" class="am-form am-form-horizontal" id="refreshForm">
          		$csrfToken.hiddenField
				<input type="hidden" name="action" value="userAction"/>
				<input type="hidden" name="event_submit_do_refresh" value="true"/>
				<input type="hidden" name="$!userGroup.id.key" value="$!user.id"/>
          	</form>
          </li>
          <li>
          	<a href="#" onclick="showRocket()">
          	   刷火箭
          	</a>
          </li>
      </ul>
  	</div>
  	<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
	  <a href="#top" title="">
	  		<i class="am-gotop-icon am-icon-angle-up"></i>
	  </a>
	</div>
	<script>
		function currentDate(){
			var d = new Date(),str = '';
			 str += d.getFullYear()+'-';
			 str += getTimeStr(d.getMonth() + 1)+'-';
			 str += getTimeStr(d.getDate());
			return str;
		}
		
		function currentTime(){
			var d = new Date(),str = '';
			 str += d.getFullYear()+'-';
			 str += getTimeStr(d.getMonth() + 1)+'-';
			 str += getTimeStr(d.getDate())+' ';
			 str += getTimeStr(d.getHours())+':'; 
			 str += getTimeStr(d.getMinutes())+':'; 
			 str += getTimeStr(d.getSeconds()); 
			return str;
		}
		
		function getTimestamp(){
			var d = new Date(),str = '';
			 str += d.getFullYear();
			 str += getTimeStr(d.getMonth() + 1);
			 str += getTimeStr(d.getDate());
			 str += getTimeStr(d.getHours()); 
			 str += getTimeStr(d.getMinutes()); 
			 str += getTimeStr(d.getSeconds()); 
			return str;
		}

		function getTimeStr(t){
			if(t < 10){
				return "0"+t;
			} else {
				return t;
			}
		}
		
		var countDown = $!nextRefresh;
		
		var timer = setInterval("countDownTask()",1000);
		
		function countDownTask(){
			jQuery("#countDown").empty().append("("+countDown+")");
			countDown--;
			if(countDown == -1) {
				countDown = 0;
				clearInterval(timer);
			} 
		}
		
		jQuery(function(){
			
			jQuery("#refreshBtn").click(function(){
				if(countDown <= 0){
					jQuery("#refreshForm").submit();
				}
			});
		});
		
		
	</script>
	
	<!-- popups -->
	$control.setTemplate('qrcode.vm')
	$control.setTemplate('search.vm')
	$control.setTemplate('rocket.vm')
</body>
</html>